Repository operator-framework/helm-operator-plugins, pull requests merged in 2021-12, with the labels that each got.

#138 Add option to watch List object types
  pkg/reconciler/internal/hook/hook.go
  pkg/reconciler/internal/hook/hook_test.go
Labels: area/sdk, area/testing, lgtm

#139 fix(helm-operator): do not send empty patch requests to kube apiserver
  pkg/client/actionclient.go
  pkg/client/actionclient_test.go
Labels: area/sdk, area/testing, lgtm

#115 Remove legacy Helm code base
  go.mod
  go.sum
  internal/cmd/helm-operator/run/cmd.go
  internal/legacy/controller/controller.go
  internal/legacy/controller/controller_test.go
  internal/legacy/controller/doc.go
  internal/legacy/controller/reconcile.go
  internal/legacy/controller/reconcile_test.go
  internal/legacy/helm/client/client.go
  internal/legacy/helm/client/client_test.go
  internal/legacy/helm/client/doc.go
  internal/legacy/helm/diff/diff.go
  internal/legacy/helm/types/doc.go
  internal/legacy/helm/types/types.go
  internal/legacy/helm/types/types_test.go
  internal/legacy/manifestutil/resource_policy.go
  internal/legacy/release/doc.go
  internal/legacy/release/manager.go
  internal/legacy/release/manager_factory.go
  internal/legacy/release/manager_test.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/reconciler_test.go
Labels: area/deps, area/sdk, area/testing, area/main-binary

#118 Add Quick Start and Introduction documentation
  README.md
Labels: area/docs

#114 Add a WithValueTranslator option to Reconciller.
  pkg/reconciler/internal/values/values.go
  pkg/reconciler/internal/values/values_test.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/reconciler_test.go
  pkg/values/values.go
Labels: area/sdk, area/testing
