Repository operator-framework/helm-operator-plugins, pull requests merged in 2021-08, with the labels that each got.

#99 Update hybrid plugin scaffolding
  pkg/plugins/hybrid/v1alpha/init.go
  pkg/plugins/hybrid/v1alpha/scaffolds/init.go
  pkg/plugins/hybrid/v1alpha/scaffolds/internal/templates/dockerfile.go
  pkg/plugins/hybrid/v1alpha/scaffolds/internal/templates/main.go
Labels: area/sdk, lgtm

#98 bump k8s dependencies
  Makefile
  go.mod
  go.sum
  internal/cmd/run/cmd.go
  pkg/manager/delegatingclient.go
  pkg/manager/delegatingclient_test.go
  pkg/manager/namespace_test.go
Labels: area/infra, area/deps, area/sdk, area/testing, area/main-binary, lgtm

#102 Bump to kubernetes 1.22
  Makefile
  go.mod
  go.sum
  pkg/client/actionclient_test.go
  tools/scripts/fetch
Labels: area/infra, area/deps, area/sdk, area/testing, lgtm
