Repository operator-framework/helm-operator-plugins, pull requests merged in 2021-11, with the labels that each got.

#110 Add code for building and running helm operator binary
  go.mod
  go.sum
  internal/cmd/helm-operator/run/cmd.go
  internal/cmd/hybrid-operator/run/cmd.go
  internal/legacy/controller/controller.go
  internal/legacy/controller/controller_test.go
  internal/legacy/controller/doc.go
  internal/legacy/controller/reconcile.go
  internal/legacy/controller/reconcile_test.go
  internal/legacy/helm/client/client.go
  internal/legacy/helm/client/client_test.go
  internal/legacy/helm/client/doc.go
  internal/legacy/helm/diff/diff.go
  internal/legacy/helm/types/doc.go
  internal/legacy/helm/types/types.go
  internal/legacy/helm/types/types_test.go
  internal/legacy/manifestutil/resource_policy.go
  internal/legacy/release/doc.go
  internal/legacy/release/manager.go
  internal/legacy/release/manager_factory.go
  internal/legacy/release/manager_test.go
  internal/legacy/watches/watches.go
  internal/legacy/watches/watches_test.go
  main.go
  pkg/client/actionclient.go
  pkg/internal/fake/controller.go
  pkg/internal/predicate/predicates.go
  pkg/internal/status/conditions.go
  pkg/internal/status/conditions_test.go
  pkg/reconciler/internal/conditions/conditions.go
  pkg/reconciler/internal/conditions/conditions_test.go
  pkg/reconciler/internal/hook/hook.go
  pkg/reconciler/internal/hook/hook_test.go
  pkg/reconciler/internal/updater/updater.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/reconciler_test.go
  pkg/sdk/controllerutil/controllerutil.go
  pkg/sdk/controllerutil/controllerutil_suite_test.go
  pkg/sdk/controllerutil/controllerutil_test.go
Labels: area/deps, area/sdk, area/testing, area/main-binary

#111 Fix markup in README
  README.md
Labels: lgtm, area/docs

#112 Support BSD sed and older bash in test rule.
  Makefile
Labels: area/infra, lgtm
