Repository operator-framework/helm-operator-plugins, pull requests merged in 2022-05, with the labels that each got.

#161 consistently use go 1.17 throughout repository
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .goreleaser.yml
  Dockerfile
  Makefile
Labels: area/infra

#159 Check uninstall error is not nil when uninstalling a failed install
  pkg/client/actionclient.go
Labels: area/sdk

#167 release prep for v0.0.10
  pkg/plugins/hybrid/v1alpha/scaffolds/init.go
Labels: area/sdk, lgtm

#168 update testdata
  testdata/hybrid/memcached-operator/go.mod
  testdata/hybrid/memcached-operator/go.sum
Labels: area/testing, lgtm
