Repository operator-framework/helm-operator-plugins, pull requests merged in 2022-01, with the labels that each got.

#145 bump k8s to 1.23.1
  Makefile
  go.mod
  go.sum
  internal/sdk/controllerutil/controllerutil.go
  internal/sdk/controllerutil/controllerutil_suite_test.go
  internal/sdk/controllerutil/controllerutil_test.go
  pkg/client/actionclient.go
  pkg/client/actionclient_test.go
  pkg/client/actionconfig.go
  pkg/client/actionconfig_test.go
  pkg/client/client_suite_test.go
  pkg/hook/hook_test.go
  pkg/internal/fake/controller.go
  pkg/manager/namespace_test.go
  pkg/reconciler/internal/hook/hook.go
  pkg/reconciler/internal/hook/hook_test.go
  pkg/reconciler/internal/updater/updater.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/reconciler_suite_test.go
  pkg/reconciler/reconciler_test.go
  testdata/hybrid/memcached-operator/api/v1alpha1/groupversion_info.go
  testdata/hybrid/memcached-operator/api/v1alpha1/memcached_types.go
  testdata/hybrid/memcached-operator/controllers/memcached_controller.go
  testdata/hybrid/memcached-operator/controllers/suite_test.go
  testdata/hybrid/memcached-operator/hack/boilerplate.go.txt
  testdata/hybrid/memcached-operator/main.go
Labels: area/infra, area/deps, area/sdk, area/testing, area/main-binary

#143 Merge watches for hybrid and helm
  internal/cmd/helm-operator/run/cmd.go
  internal/cmd/hybrid-operator/run/cmd.go
  internal/legacy/watches/watches.go
  internal/legacy/watches/watches_test.go
  pkg/watches/watches.go
  pkg/watches/watches_test.go
Labels: area/sdk, area/testing, area/main-binary

#148 bump kubebuilder to 3.3.0
  go.mod
  go.sum
  pkg/plugins/helm/v1/init.go
  pkg/plugins/hybrid/v1alpha/init.go
  testdata/hybrid/memcached-operator/config/default/manager_auth_proxy_patch.yaml
  testdata/hybrid/memcached-operator/config/manager/manager.yaml
  testdata/hybrid/memcached-operator/controllers/memcached_controller.go
Labels: area/deps, area/sdk, area/testing

#150 update scaffolding for 0.0.9 release
  pkg/plugins/hybrid/v1alpha/scaffolds/init.go
  pkg/plugins/hybrid/v1alpha/scaffolds/internal/templates/gomod.go
Labels: area/sdk

#151 fix go version in scaffolding
  pkg/plugins/hybrid/v1alpha/scaffolds/internal/templates/dockerfile.go
  testdata/hybrid/memcached-operator/Dockerfile
  testdata/hybrid/memcached-operator/go.mod
  testdata/hybrid/memcached-operator/go.sum
Labels: area/sdk, area/testing, lgtm
