Repository operator-framework/helm-operator-plugins, pull requests merged in 2022-06, with the labels that each got.

#165 log manager options
  internal/cmd/helm-operator/run/cmd.go
  internal/cmd/hybrid-operator/run/cmd.go
Labels: area/main-binary, lgtm

#169 update kb from 3.3.0 to the latest commit 800fdeec6e5c
  go.mod
  go.sum
  testdata/hybrid/memcached-operator/config/default/manager_auth_proxy_patch.yaml
  testdata/hybrid/memcached-operator/config/manager/controller_manager_config.yaml
  testdata/hybrid/memcached-operator/config/manager/manager.yaml
  testdata/hybrid/memcached-operator/controllers/memcached_controller.go
  testdata/hybrid/memcached-operator/controllers/suite_test.go
Labels: area/deps, area/testing, lgtm

#173 fix goreleaser fetch script
  tools/scripts/fetch
Labels: lgtm

#174 bump dependencies to support k8s 1.24
  go.mod
  go.sum
  internal/flags/flag.go
  pkg/internal/status/conditions.go
  pkg/internal/status/conditions_test.go
  pkg/plugins/helm/v1/scaffolds/internal/templates/config/rbac/manager_role.go
  testdata/hybrid/memcached-operator/controllers/memcached_controller.go
Labels: area/deps, area/sdk, area/testing, area/main-binary, lgtm

#175 patch for k8s 1.24 bump
  pkg/plugins/hybrid/v1alpha/scaffolds/init.go
Labels: area/sdk, lgtm

#176 release v0.0.11 prep
  pkg/plugins/hybrid/v1alpha/scaffolds/init.go
Labels: area/sdk, lgtm

#177 update testdata
  testdata/hybrid/memcached-operator/go.mod
  testdata/hybrid/memcached-operator/go.sum
Labels: area/testing, lgtm

#179 update kubebuilder to latest commit
  go.mod
  go.sum
Labels: area/deps, lgtm

#180 update scaffolds for hybrid to use go 1.18
  .github/workflows/ci.yml
  pkg/plugins/hybrid/v1alpha/scaffolds/internal/templates/gomod.go
  pkg/plugins/hybrid/v1alpha/scaffolds/internal/templates/makefile.go
  testdata/hybrid/memcached-operator/Makefile
  testdata/hybrid/memcached-operator/go.mod
  testdata/hybrid/memcached-operator/go.sum
Labels: area/infra, area/sdk, area/testing, lgtm

#181 (chore): bump Kubebuilder to commit `57aed3f94a441973deff4121a0538e20dda422a8`
  go.mod
  go.sum
  testdata/hybrid/memcached-operator/config/default/manager_auth_proxy_patch.yaml
  testdata/hybrid/memcached-operator/config/manager/manager.yaml
Labels: area/deps, area/testing, lgtm

#182 bump go to 1.18 in scaffolded Dockerfile
  pkg/plugins/hybrid/v1alpha/scaffolds/internal/templates/dockerfile.go
  testdata/hybrid/memcached-operator/Dockerfile
Labels: area/sdk, area/testing, lgtm
