Repository operator-framework/helm-operator-plugins, pull requests merged in 2022-08, with the labels that each got.

#187 Upgrade project to use kustomize v4.5.5 and bump kubebuilder release 3.6.0
  Makefile
  go.mod
  go.sum
  main.go
  pkg/plugins/helm/v1/scaffolds/init.go
  pkg/plugins/hybrid/v1alpha/init.go
  pkg/plugins/hybrid/v1alpha/scaffolds/init.go
  pkg/plugins/hybrid/v1alpha/scaffolds/internal/templates/makefile.go
  pkg/plugins/util/cleanup.go
  testdata/hybrid/memcached-operator/Makefile
  testdata/hybrid/memcached-operator/config/default/kustomization.yaml
  testdata/hybrid/memcached-operator/config/default/manager_auth_proxy_patch.yaml
  testdata/hybrid/memcached-operator/config/manager/controller_manager_config.yaml
  testdata/hybrid/memcached-operator/config/manager/manager.yaml
  testdata/hybrid/memcached-operator/controllers/memcached_controller.go
  testdata/hybrid/memcached-operator/controllers/suite_test.go
  testdata/hybrid/memcached-operator/go.mod
  testdata/hybrid/memcached-operator/go.sum
Labels: area/infra, area/deps, area/sdk, area/testing, area/main-binary, lgtm

#190 Make a copy of rest.Config provided to k8s.io/cli-runtime.
  pkg/client/restclientgetter.go
Labels: area/sdk, lgtm

#191 updated v1alpha scaffolding
  docs/tutorial.md
  pkg/plugins/hybrid/v1alpha/scaffolds/init.go
  testdata/hybrid/memcached-operator/config/default/kustomization.yaml
Labels: area/sdk, area/testing, lgtm

#193 added warning message for deprecated flag
  pkg/plugins/helm/v1/api.go
  pkg/plugins/util/message.go
Labels: area/sdk, lgtm
