Repository operator-framework/helm-operator-plugins, pull requests merged in 2023-07, with the labels that each got.

#222 (dx): remove explicit CGO_ENABLED=0 to not block FIPS compliant builds/confusion
  .goreleaser.yml
  Makefile
  pkg/plugins/hybrid/v1alpha/scaffolds/internal/templates/dockerfile.go
  testdata/hybrid/memcached-operator/Dockerfile
Labels: area/infra, area/sdk, area/testing, lgtm

#216 Bump controller-runtime and k8s.io deps
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  Dockerfile
  Makefile
  go.mod
  go.sum
  hack/generate/samples/internal/hybrid/memcached.go
  internal/cmd/helm-operator/run/cmd.go
  internal/cmd/hybrid-operator/run/cmd.go
  internal/sdk/controllerutil/controllerutil.go
  internal/sdk/controllerutil/controllerutil_test.go
  main.go
  pkg/client/actionclient_test.go
  pkg/client/actionconfig_test.go
  pkg/client/postrenderer_test.go
  pkg/client/restclientgetter_test.go
  pkg/manager/client_test.go
  pkg/manager/delegatingclient.go
  pkg/manager/namespace.go
  pkg/manager/namespace_test.go
  pkg/plugins/helm/v1/scaffolds/init.go
  pkg/plugins/hybrid/v1alpha/init.go
  pkg/plugins/hybrid/v1alpha/scaffolds/init.go
  pkg/plugins/hybrid/v1alpha/scaffolds/internal/templates/dockerfile.go
  pkg/plugins/hybrid/v1alpha/scaffolds/internal/templates/gomod.go
  pkg/plugins/hybrid/v1alpha/scaffolds/internal/templates/main.go
  pkg/reconciler/internal/hook/hook.go
  pkg/reconciler/internal/hook/hook_test.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/reconciler_test.go
  testdata/hybrid/memcached-operator/Dockerfile
  testdata/hybrid/memcached-operator/Makefile
  testdata/hybrid/memcached-operator/cmd/main.go
  testdata/hybrid/memcached-operator/config/default/manager_auth_proxy_patch.yaml
  testdata/hybrid/memcached-operator/go.mod
  testdata/hybrid/memcached-operator/go.sum
  testdata/hybrid/memcached-operator/internal/controller/memcached_controller.go
  testdata/hybrid/memcached-operator/internal/controller/suite_test.go
Labels: area/infra, area/deps, area/sdk, area/testing, area/main-binary, lgtm

#153 Expose generic mechanism for configuring the controller builder
  pkg/reconciler/reconciler.go
  pkg/reconciler/reconciler_test.go
Labels: area/sdk, area/testing, lgtm

#223 fix: fix a broken method on `main` branch
  pkg/reconciler/reconciler_test.go
Labels: area/sdk, area/testing, lgtm
