Repository operator-framework/helm-operator-plugins, pull requests merged in 2024-07, with the labels that each got.

#344 reconciler: use server-side dry-run to generate candidate upgrade manifest
  pkg/client/postrenderer_test.go
  pkg/plugins/helm/v1/scaffolds/internal/templates/config/rbac/manager_role.go
  pkg/reconciler/reconciler.go
Labels: area/sdk, area/testing

#348 ActionClientGetter: allow disabling rollbacks after failures
  pkg/client/actionclient.go
  pkg/client/actionclient_test.go
Labels: area/sdk, area/testing

#291 Add a default value for MaxReleaseHistory
  pkg/reconciler/internal/values/values.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/reconciler_test.go
Labels: area/sdk, area/testing

#349 updating kubbuilder version to 3.14.2
  go.mod
  go.sum
  testdata/hybrid/memcached-operator/config/default/manager_auth_proxy_patch.yaml
  testdata/hybrid/memcached-operator/config/manager/manager.yaml
  testdata/hybrid/memcached-operator/config/prometheus/monitor.yaml
  testdata/hybrid/memcached-operator/config/rbac/auth_proxy_client_clusterrole.yaml
  testdata/hybrid/memcached-operator/config/rbac/auth_proxy_role.yaml
  testdata/hybrid/memcached-operator/config/rbac/auth_proxy_role_binding.yaml
  testdata/hybrid/memcached-operator/config/rbac/auth_proxy_service.yaml
  testdata/hybrid/memcached-operator/config/rbac/leader_election_role.yaml
  testdata/hybrid/memcached-operator/config/rbac/leader_election_role_binding.yaml
  testdata/hybrid/memcached-operator/config/rbac/role.yaml
  testdata/hybrid/memcached-operator/config/rbac/role_binding.yaml
  testdata/hybrid/memcached-operator/config/rbac/service_account.yaml
  testdata/hybrid/memcached-operator/go.mod
  testdata/hybrid/memcached-operator/go.sum
  testdata/hybrid/memcached-operator/internal/controller/memcached_controller.go
Labels: area/deps, area/sdk, area/testing

#353 update ci to run on all pull requests, no matter the branch
  .github/workflows/ci.yml
Labels: area/infra, area/sdk

#355 update ci to run on all pull requests, no matter the branch
  .github/workflows/ci.yml
Labels: area/infra, area/sdk

#354 update ci to run on all pull requests, no matter the branch
  .github/workflows/ci.yml
Labels: area/infra, area/sdk

#356 fix test data scaffolding code
  testdata/hybrid/memcached-operator/go.mod
  testdata/hybrid/memcached-operator/go.sum
Labels: area/sdk, area/testing

#360 fixing scaffolding version issue
  pkg/plugins/hybrid/v1alpha/scaffolds/init.go
  testdata/hybrid/memcached-operator/go.mod
  testdata/hybrid/memcached-operator/go.sum
Labels: area/sdk, area/testing

#359 fixing scaffolding version issue
  pkg/plugins/hybrid/v1alpha/scaffolds/init.go
  testdata/hybrid/memcached-operator/go.mod
  testdata/hybrid/memcached-operator/go.sum
Labels: area/sdk, area/testing

#362 release-0.3: updating kubbuilder version to 3.14.2
  go.mod
  go.sum
  testdata/hybrid/memcached-operator/config/default/manager_auth_proxy_patch.yaml
  testdata/hybrid/memcached-operator/config/manager/manager.yaml
  testdata/hybrid/memcached-operator/config/prometheus/monitor.yaml
  testdata/hybrid/memcached-operator/config/rbac/auth_proxy_client_clusterrole.yaml
  testdata/hybrid/memcached-operator/config/rbac/auth_proxy_role.yaml
  testdata/hybrid/memcached-operator/config/rbac/auth_proxy_role_binding.yaml
  testdata/hybrid/memcached-operator/config/rbac/auth_proxy_service.yaml
  testdata/hybrid/memcached-operator/config/rbac/leader_election_role.yaml
  testdata/hybrid/memcached-operator/config/rbac/leader_election_role_binding.yaml
  testdata/hybrid/memcached-operator/config/rbac/role.yaml
  testdata/hybrid/memcached-operator/config/rbac/role_binding.yaml
  testdata/hybrid/memcached-operator/config/rbac/service_account.yaml
  testdata/hybrid/memcached-operator/internal/controller/memcached_controller.go
Labels: area/deps, area/sdk, area/testing

#352 updating kubbuilder version to 3.14.2
  go.mod
  go.sum
  testdata/hybrid/memcached-operator/config/default/manager_auth_proxy_patch.yaml
  testdata/hybrid/memcached-operator/config/manager/manager.yaml
  testdata/hybrid/memcached-operator/config/prometheus/monitor.yaml
  testdata/hybrid/memcached-operator/config/rbac/auth_proxy_client_clusterrole.yaml
  testdata/hybrid/memcached-operator/config/rbac/auth_proxy_role.yaml
  testdata/hybrid/memcached-operator/config/rbac/auth_proxy_role_binding.yaml
  testdata/hybrid/memcached-operator/config/rbac/auth_proxy_service.yaml
  testdata/hybrid/memcached-operator/config/rbac/leader_election_role.yaml
  testdata/hybrid/memcached-operator/config/rbac/leader_election_role_binding.yaml
  testdata/hybrid/memcached-operator/config/rbac/role.yaml
  testdata/hybrid/memcached-operator/config/rbac/role_binding.yaml
  testdata/hybrid/memcached-operator/config/rbac/service_account.yaml
  testdata/hybrid/memcached-operator/go.mod
  testdata/hybrid/memcached-operator/go.sum
  testdata/hybrid/memcached-operator/internal/controller/memcached_controller.go
Labels: area/deps, area/sdk, area/testing

#350 ✨ Add support for a chunked release storage driver
  pkg/client/actionconfig.go
  pkg/client/actionconfig_test.go
  pkg/client/ownerrefclient.go
  pkg/storage/chunked.go
  pkg/storage/chunked_test.go
  pkg/storage/labels.go
  pkg/storage/storage_suite_test.go
Labels: area/sdk, area/testing

#364 update version in prep for v0.2.2
  pkg/plugins/hybrid/v1alpha/scaffolds/init.go
Labels: area/sdk

#365 updating test data for v0.3.1
  testdata/hybrid/memcached-operator/go.mod
  testdata/hybrid/memcached-operator/go.sum
Labels: area/sdk, area/testing

#366 updating test data for v0.2.2
  testdata/hybrid/memcached-operator/go.mod
  testdata/hybrid/memcached-operator/go.sum
Labels: area/sdk, area/testing

#371 updating dependencies to address CVE's
  go.mod
  go.sum
Labels: area/deps, area/sdk
