Repository operator-framework/helm-operator-plugins, pull requests merged in 2024-08, with the labels that each got.

#372 update version in prep for v0.4.0
  pkg/plugins/hybrid/v1alpha/scaffolds/init.go
Labels: area/sdk

#373 updating test data for v0.4.0
  testdata/hybrid/memcached-operator/go.mod
  testdata/hybrid/memcached-operator/go.sum
Labels: area/sdk, area/testing

#385 :seedling: bump go version to v1.22.5
  go.mod
Labels: area/deps, area/sdk
