Repository operator-framework/helm-operator-plugins, pull requests merged in 2024-09, with the labels that each got.

#380 reconciler: fix deletion wait and updater retry logic
  pkg/reconciler/internal/updater/updater.go
  pkg/reconciler/internal/updater/updater_test.go
  pkg/reconciler/internal/values/values.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/reconciler_test.go
Labels: area/sdk, area/testing

#384 :seedling: Update bingo + tools
  .bingo/Variables.mk
  .bingo/golangci-lint.mod
  .bingo/golangci-lint.sum
  .bingo/goreleaser.mod
  .bingo/goreleaser.sum
  .bingo/setup-envtest.mod
  .bingo/setup-envtest.sum
  .bingo/variables.env
  .golangci.yml
  Makefile
  pkg/client/actionclient_test.go
  pkg/client/actionconfig.go
  pkg/client/actionconfig_test.go
  pkg/reconciler/internal/hook/hook_test.go
  pkg/reconciler/internal/values/values.go
  pkg/reconciler/reconciler_test.go
  pkg/storage/chunked_test.go
Labels: area/infra, area/sdk, area/testing, lgtm

#392 :seedling: Bump to k8s libs v0.31.1, controller-runtime to v0.19.0 and operator-lib v0.15.0
  go.mod
  go.sum
  pkg/reconciler/reconciler_test.go
Labels: area/deps, area/sdk, area/testing
