Repository operator-framework/helm-operator-plugins, pull requests merged in 2024-05, with the labels that each got.

#329 testdata/hybrid: fixup scaffolded versions
  pkg/plugins/hybrid/v1alpha/init.go
  testdata/hybrid/memcached-operator/go.mod
  testdata/hybrid/memcached-operator/go.sum
Labels: area/sdk, area/testing

#330 scaffolds: update versions in preparation for v0.2.1 release
  pkg/plugins/hybrid/v1alpha/scaffolds/init.go
Labels: area/sdk

#337 bump go 1.22 and k8s 1.30
  go.mod
  go.sum
  internal/cmd/helm-operator/run/cmd.go
  internal/cmd/hybrid-operator/run/cmd.go
  internal/flags/flag.go
  pkg/internal/fake/controller.go
  pkg/internal/predicate/predicates.go
  pkg/reconciler/internal/hook/hook.go
  pkg/reconciler/internal/hook/hook_test.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/reconciler_test.go
  testdata/hybrid/memcached-operator/go.mod
Labels: area/deps, area/sdk, area/testing, area/main-binary
