Repository operator-framework/helm-operator-plugins, pull requests merged in 2024-01, with the labels that each got.

#265 Tweak CI
  .github/workflows/ci.yml
Labels: area/infra, area/sdk

#267 Upgrade lint
  .bingo/Variables.mk
  .bingo/golangci-lint.mod
  .bingo/golangci-lint.sum
  .bingo/variables.env
  .golangci.yml
  hack/generate/samples/generate_testdata.go
  hack/generate/samples/internal/pkg/context.go
  internal/cmd/helm-operator/run/cmd.go
  internal/flags/flag.go
  internal/sdk/controllerutil/controllerutil.go
  internal/sdk/controllerutil/controllerutil_test.go
  internal/testutils/utils.go
  internal/version/version.go
  main.go
  pkg/client/actionclient.go
  pkg/client/actionclient_test.go
  pkg/client/actionconfig.go
  pkg/client/actionconfig_test.go
  pkg/client/client_suite_test.go
  pkg/client/postrenderer_test.go
  pkg/client/restclientgetter_test.go
  pkg/internal/predicate/predicates.go
  pkg/internal/status/conditions_test.go
  pkg/internal/testutil/testutil.go
  pkg/manager/client_test.go
  pkg/manager/namespace_test.go
  pkg/plugins/helm/v1/api.go
  pkg/plugins/helm/v1/init.go
  pkg/plugins/helm/v1/plugin.go
  pkg/plugins/helm/v1/scaffolds/init.go
  pkg/plugins/helm/v1/scaffolds/internal/templates/config/rbac/manager_role.go
  pkg/plugins/helm/v1/scaffolds/internal/templates/config/samples/custom_resource.go
  pkg/plugins/hybrid/v1alpha/init.go
  pkg/plugins/hybrid/v1alpha/plugin.go
  pkg/plugins/hybrid/v1alpha/scaffolds/init.go
  pkg/plugins/hybrid/v1alpha/scaffolds/internal/templates/hack/boilerplate.go
  pkg/plugins/util/cleanup.go
  pkg/reconciler/internal/hook/hook_test.go
  pkg/reconciler/internal/updater/updater_test.go
  pkg/reconciler/internal/values/values.go
  pkg/reconciler/internal/values/values_test.go
  pkg/reconciler/reconciler.go
  pkg/reconciler/reconciler_suite_test.go
  pkg/reconciler/reconciler_test.go
  pkg/values/values.go
  pkg/watches/watches_test.go
Labels: area/infra, area/sdk, area/testing, area/main-binary

#269 :seedling: Bump containerd to 1.7.11 and helm to 3.13.3
  go.mod
  go.sum
Labels: area/deps, area/sdk

#270 Restore accidentally deleted test code
  pkg/manager/namespace_test.go
Labels: area/sdk, area/testing

#271 Prep for v0.1.0
  pkg/plugins/hybrid/v1alpha/scaffolds/init.go
Labels: area/sdk, lgtm

#272 Prep 0.1.x
  .ci/gpg/.gitignore
  .github/workflows/deploy.yml
  pkg/plugins/hybrid/v1alpha/scaffolds/init.go
Labels: area/infra, area/sdk, lgtm

#273 Update testdata
  testdata/hybrid/memcached-operator/go.mod
  testdata/hybrid/memcached-operator/go.sum
Labels: area/sdk, area/testing, lgtm

#281 Only gpg init for tags
  .github/workflows/deploy.yml
Labels: area/infra, area/sdk

#280 :seedling: update GPG signing keys
  .ci/gpg/pubring.auto
  .ci/gpg/secring.auto.gpg
Labels: area/sdk

#284 bump kubebuilder to v3.13.0
  go.mod
  go.sum
  pkg/plugins/util/cleanup.go
  testdata/hybrid/memcached-operator/Makefile
  testdata/hybrid/memcached-operator/api/v1alpha1/zz_generated.deepcopy.go
  testdata/hybrid/memcached-operator/config/default/kustomization.yaml
  testdata/hybrid/memcached-operator/config/default/manager_auth_proxy_patch.yaml
  testdata/hybrid/memcached-operator/config/manager/manager.yaml
  testdata/hybrid/memcached-operator/config/prometheus/monitor.yaml
  testdata/hybrid/memcached-operator/config/rbac/role.yaml
  testdata/hybrid/memcached-operator/go.mod
  testdata/hybrid/memcached-operator/go.sum
  testdata/hybrid/memcached-operator/internal/controller/memcached_controller.go
  testdata/hybrid/memcached-operator/internal/controller/suite_test.go
Labels: area/deps, area/sdk, area/testing, lgtm

#286 :seedling: prep for v0.1.2 release
  pkg/plugins/hybrid/v1alpha/scaffolds/init.go
Labels: area/sdk, lgtm

#288 :sparkles: rapid reset scaffold remediation
  internal/flags/flag.go
  pkg/plugins/hybrid/v1alpha/scaffolds/internal/templates/dockerfile.go
  pkg/plugins/hybrid/v1alpha/scaffolds/internal/templates/main.go
  pkg/plugins/hybrid/v1alpha/scaffolds/internal/templates/makefile.go
  testdata/hybrid/memcached-operator/Dockerfile
  testdata/hybrid/memcached-operator/Makefile
  testdata/hybrid/memcached-operator/cmd/main.go
  testdata/hybrid/memcached-operator/go.mod
  testdata/hybrid/memcached-operator/go.sum
Labels: area/sdk, area/testing, area/main-binary

#289 prep for v0.1.3 release
  pkg/plugins/hybrid/v1alpha/scaffolds/init.go
Labels: area/sdk, lgtm

#290 .ci/gpg: fix create-keyring.sh script to fix gpg signing releases
  .ci/gpg/create-keyring.sh
  testdata/hybrid/memcached-operator/go.mod
  testdata/hybrid/memcached-operator/go.sum
Labels: area/sdk, area/testing
